<% content_for :title do %>Contact<% end %>

<div class="header-wrapper about-header">
		<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>The future of SMB accounting is here.</h3>
					</div>
				</div>

					<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p>Request a product demo, or simply stay in the loop for upcoming releases.</p>
					</div>
					<div class="col-md-2"></div>
				</div>
		</div>
</div><!-- header wrapper-->

<div class="about-body">
		<div class="container">
				<div class="row">
					<div class="overview-content">
						<div class="col-md-6">
							<h4>Contact Us</h4>
							<div class="row">
								<%= simple_form_for Contact.new do |f| %>
								 <div class="col-xs-6 col-md-6">
								 	<%= f.input :name, :required => true, :class => 'form-control input-lg', :placeholder => 'First Name'  %>
								 </div>
								 <div class="col-xs-6 col-md-6">
								 	<%= f.input :lastname, :required => true, :class => 'form-control input-lg', :placeholder => 'Last Name'  %>
								 </div>
								 <div class="col-xs-6 col-md-6">
								 	<%= f.input :phone, :required => true, :class => 'form-control input-lg', :placeholder => 'Phone Number'  %>
								 </div>
								 <div class="col-xs-6 col-md-6">
								 	<%= f.input :email, :required => true, :class => 'form-control input-lg', :placeholder => 'Company email address'  %>
								 </div>
								 <div class="col-xs-12 col-md-12">
								 	<%= f.select :subject, options_for_select(['Request a Product Demo', 'Apply to become a Beta Tester', 'General Inquiry or Question'])
%>
								 </div>
								 <div class="col-xs-12 col-md-12">
								 	<%= f.input :message, :as => :text, :required => true, :class => 'my_select_box', :placeholder => 'Comments...' %>
								 </div>
								</div>	<!-- nested row-->
								<div class="main-button">
								<%= f.button :submit, 'Submit', :class=> 'btn', :id => 'submit-button' %>
								</div>
								<% end %>

						</div><!--col-md-6-->
				</div><!-- overview content -->

<div class="overview-content">
				<div class="col-md-1"></div>
					<div class="col-md-5">
						<h4>General Inquries</h4>
						<ul class="contact-links">
							<li><span class="icon" id="phone">&#128241;</span><span class="number">800.282.7657</span></li>
							<li><span class="icon" id="mail">&#128319;</span><span id="info"><a href="mailto:info@banktel.com">info@banktel.com</a></span></li>
							<li class="twitter-row"><span class="icon" id="twitter"><%=image_tag('twitter.png', :size => '25x44', :class=> "twitter")%></span><span id="biz_email">@the_biz</span></li>
						</ul>
						<h4>Support</h4>
						<ul class="support-links">
							<li><span class="icon" id="phone">&#128241;</span><span class="number">800.282.7657</span></li>
							<li><span class="icon" id="mail">&#128319;</span><span id="info"><a href="mailto:info@banktel.com">info@banktel.com</a></span></li>
						</ul>
					</div>
				</div>
			</div><!-- row -->


		</div><!-- container-->
</div><!-- about body-->
<%= render 'layouts/footer' %>

<script type="text/javascript">
    $(window).on('load', function () {

        $('#contact_subject').selectpicker({
            'selectedText': 'cat'
        });

        // $('.selectpicker').selectpicker('hide');
    });

    $('input, textarea').placeholder();

</script>

</script>
