<% content_for :title do %>Modules<% end %>


<div class="section" id="section0">
<!-- Section One Carousel
  ================================================== -->
<div id="myCarousel1" class="carousel slide" data-interval="false">
  <div class="carousel-inner">
    <div class="item active">
      <div class="welcome top-graph">
      	<%=image_tag('top-graph.png', :size => '900x426')%>
      </div>
      <div class="section-1">
        <div class="container">
          <div class="table-cell">
            <div class="row">
              <div class="col-md-12">
                <h3>Increase Revenue. Build Loyalty.</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="section-1-subtext">The Biz enables to do both simultaneously. Become<br>a daily destination for your Small Business customers.
                </p>
              </div>
            </div>
            <div class="module-button">
            	<a data-menuanchor="secondPage" href="#secondPage"><div class="btn" "btn-lg">Learn more</div></a>	
            </div>
          </div>
          <!-- landing content -->
        </div>
        <!-- container -->
      </div>
      <!-- section-1-->
    </div>
    <!-- item active -->
    <div class="item">
      <div class="welcome">
        <%=image_tag('welcome.png', :size => '900x426')%>
      </div>
      <div class="section-1">
        <div class="container">
          <div class="landing-content">
            <div class="row">
              <div class="col-md-12">
                <h3>Billpay, reimagined.</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="section-1-subtext">Introducing a smarter, cloud-based Small Business<br>
                  solution built from the bank up.
                </p>
              </div>
            </div>
            <div class="module-button">
            	<a data-menuanchor="secondPage" href="#secondPage"><div class="btn" "btn-lg">Learn more</div></a>	
            </div>
          </div><!--landing-content-->
        </div><!--container-->
      </div><!--section content-->
    </div><!--item-->
    <div class="item">
      <div class="welcome">
        <%=image_tag('welcome.png', :size => '900x426')%>
      </div>
      <div class="section-1">
        <div class="container">
          <div class="landing-content">
            <div class="row">
              <div class="col-md-12">
                <h3>Billpay, reimagined.</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="section-1-subtext">Introducing a smarter, cloud-based Small Business<br>
                  solution built from the bank up.
                </p>
              </div>
            </div>
            <div class="module-button">
            	<a data-menuanchor="secondPage" href="#secondPage"><div class="btn" "btn-lg">Learn more</div></a>	
            </div>
          </div><!--landing-content-->
        </div><!--container-->
      </div><!--section-1-content-->
    </div><!--item-->
  </div>  <!-- carousel inner -->

  <a class="left carousel-control" href="#myCarousel1" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel1" data-slide="next">&rsaquo;</a>
</div><!--mycarousel-->
</div><!-- section id section0-->

<div class="section" id="section1">
	<div class="tableCell">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
						<h3 class="section-content">Accounts Payable</h3>
	      </div>
	    </div>
	</div>
	  <!-- Section Two Carousel
	    ================================================== -->
	    <div id="myCarousel2" class="carousel slide" data-interval="false">

	    	<div class="container">

	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
	        <li data-target="#myCarousel2" data-slide-to="1"></li>
	        <li data-target="#myCarousel2" data-slide-to="2"></li>
	        <li data-target="#myCarousel2" data-slide-to="3"></li>

	      </ol>
	      <div class="carousel-inner">
	        <div class="item active landing-content">
	          <div class="accounts-payable col-md-9">
	            <div class="computer"><%=image_tag('section2_slide1.png')%></div>
	          </div>
	          <div class="description-subtext col-md-3">
	            <p><strong>Manage your bills in one place.</strong></p>
	            <p class="description-sub"> Pay by check, electronic transfer (ACH), or seemlessly through your bank's billpay system for painless payments to vendors of every shape and size.</p>
	          </div>
	        </div>
	        <div class="item">
	        	  <div class="description-subtext col-md-3">
	        	    <p><strong>Bill payment made easy.</strong></p>
	        	    <p class="description-sub"> Pay by check, electronic transfer (ACH), or seemlessly through your bank's billpay system for painless payments to vendors of every shape and size.</p>
	        	  </div>
	        	  <div class="accounts-payable col-md-9">
	        	    <div class="computer"><%=image_tag('section2_slide2.png')%></div>
	        	  </div>
	        	</div>
	        <div class="item">
	        	<div class="accounts-payable col-md-9">
	        	  <div class="computer"><%=image_tag('section2_slide3.png')%></div>
	        	</div>
	        	  <div class="description-subtext col-md-3">
	        	    <p><strong>Keep track of your vendors.</strong></p>
	        	    <p class="description-sub"> Pay by check, electronic transfer (ACH), or seemlessly through your bank's billpay system for painless payments to vendors of every shape and size.</p>
	        	  </div>
	        	</div>
	        <div class="item">
	        	  <div class="description-subtext col-md-3">
	        	    <p><strong>Add new vendors anytime.</strong></p>
	        	    <p class="description-sub"> Pay by check, electronic transfer (ACH), or seemlessly through your bank's billpay system for painless payments to vendors of every shape and size.</p>
	        	</div>
	        	<div class="accounts-payable col-md-9">
	        	  <div class="computer"><%=image_tag('section2_slide4.png')%></div>
	        	</div>
	        </div>

	      </div><!-- carousel inner -->

	    </div><!-- container -->
	    <a class="left carousel-control section-arrow" href="#myCarousel2" data-slide="prev">&lsaquo;</a>
	    <a class="right carousel-control section-arrow" href="#myCarousel2" data-slide="next">&rsaquo;</a>

		</div><!--myCarousel -->
	</div><!--tableCell-->
</div><!-- end of section-->

<div class="section" id="section2">
	<div class="tableCell">
	<div class="container">

	    <div class="row">
	      <div class="col-md-12">
	        <h3 class="section-content">Accounts Receivable</h3>
	      </div>
	    </div>
	  </div>
	  <!-- Section Three Carousel
	    ================================================== -->
	    <div id="myCarousel3" class="carousel slide" data-interval="false">
	    	<div class="container">

	      <ol class="carousel-indicators">
	      	<li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
	      	<li data-target="#myCarousel3" data-slide-to="1"></li>
	      	<li data-target="#myCarousel3" data-slide-to="2"></li>
	      	<li data-target="#myCarousel3" data-slide-to="3"></li>
	      	<li data-target="#myCarousel3" data-slide-to="4"></li>

	      </ol>
	      <div class="carousel-inner">
	        <div class="item active landing-content">
	        	<div class="col-md-1"></div>
	          <div class="accounts-payable col-md-5">
	          	<div class="card"><%=image_tag('invoicing-card.png', :size => '382x439')%>
	          	</div>
	          </div>
	          <div class="col-md-1"></div>

	          <div class="description-subtext col-md-3">
		            <p><strong>Tailored invoicing for any business.</strong></p>
		            <p> Lorem ipsum dolor sit amet,consec
		              tetur adipiscing elit. Aenean sit amet dolar
		            </p>
	            </div>

	            <div class="col-md-2"></div>
	        </div>
	        <div class="item">
	        	        	<div class="col-md-1"></div>
	        	          <div class="accounts-payable col-md-5">
	        	          	<div class="card"><%=image_tag('invoicing-card.png', :size => '382x439')%>
	        	          	</div>
	        	          </div>
	        	          <div class="col-md-1"></div>

	        	          <div class="description-subtext col-md-3">
	        		            <p><strong>Tailored invoicing for any business.</strong></p>
	        		            <p> Lorem ipsum dolor sit amet,consec
	        		              tetur adipiscing elit. Aenean sit amet dolar
	        		            </p>
	        	            </div>

	        	            <div class="col-md-2"></div>
	        </div>
	        <div class="item">
	        		<div class="col-md-1"></div>
	        	  <div class="accounts-payable col-md-5">
	        	  	<div class="card"><%=image_tag('invoicing-card.png', :size => '382x439')%>
	        	  	</div>
	        	  </div>
	        	  <div class="col-md-1"></div>

	        	  <div class="description-subtext col-md-3">
	        	    <p><strong>Tailored invoicing for any business.</strong></p>
	        	    <p> Lorem ipsum dolor sit amet,consec
	        	      tetur adipiscing elit. Aenean sit amet dolar
	        	    </p>

	        	    <div class="col-md-2"></div>
	        	  </div>
	        </div>

	        <div class="item">
	        		<div class="col-md-1"></div>
	        	  <div class="accounts-payable col-md-5">
	        	  	<div class="card"><%=image_tag('invoicing-card.png', :size => '382x439')%>
	        	  	</div>
	        	  </div>
	        	  <div class="col-md-1"></div>

	        	  <div class="description-subtext col-md-3">
	        	    <p><strong>Tailored invoicing for any business.</strong></p>
	        	    <p> Lorem ipsum dolor sit amet,consec
	        	      tetur adipiscing elit. Aenean sit amet dolar
	        	    </p>
	        	  </div>

	        	    <div class="col-md-2"></div>
	        </div>
	        <div class="item">
	        		<div class="col-md-1"></div>
	        	  <div class="accounts-payable col-md-5">
	        	  	<div class="card"><%=image_tag('invoicing-card.png', :size => '382x439')%>
	        	  	</div>
	        	  </div>
	        	  <div class="col-md-1"></div>

	        	  <div class="description-subtext col-md-3">
	        	    <p><strong>Tailored invoicing for any business.</strong></p>
	        	    <p> Lorem ipsum dolor sit amet,consec
	        	      tetur adipiscing elit. Aenean sit amet dolar
	        	    </p>
	        	  </div>

	        	    <div class="col-md-2"></div>
	        </div>


	      </div><!-- carousel inner -->
	      <a class="left carousel-control section-arrow" href="#myCarousel3" data-slide="prev">&lsaquo;</a>
	      <a class="right carousel-control section-arrow" href="#myCarousel3" data-slide="next">&rsaquo;</a>

	    </div><!-- carousel -->
	 
	</div><!--container -->
</div><!--tableCell-->
</div><!-- end of section-->


<div class="section" id="section3">
	<div class="tableCell">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	        <a name="section-4"></a><h3 class="section-content">Budgeting</h3>
	      </div>
	    </div>
	  </div>
	  <!-- Section Carousel
	    ================================================== -->
	    <div id="myCarousel4" class="carousel slide" data-interval="false">
	    	<div class="container">

	      <ol class="carousel-indicators">
	      	<li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
	      	<li data-target="#myCarousel4" data-slide-to="1"></li>
	      	<li data-target="#myCarousel4" data-slide-to="2"></li>
<!-- 	      	<li data-target="#myCarousel4" data-slide-to="3"></li>
	      	<li data-target="#myCarousel4" data-slide-to="4"></li>
 -->	      </ol>
	      <div class="carousel-inner">
	        <div class="item active landing-content">
	        	<div class="description-subtext col-md-3">
	        	  <p><strong>Custom Expense Dashboards</strong></p>
	        	  <p> Lorem ipsum dolor sit amet,consec
	        	    tetur adipiscing elit. Aenean sit amet dolar
	        	  </p>

	        	</div>
	        	<div class="accounts-payable col-md-9">
	        	  <div class="computer-purple"><%=image_tag('purple-wireframe.png', :size => '1005x600')%></div>
	        	</div>
	          </div>
	        <div class="item">
	        		<div class="col-md-1"></div>
	        	  <div class="accounts-payable col-md-5">
	        	  	<div class="card"><%=image_tag('invoicing-card.png', :size => '382x439')%>
	        	  	</div>
	        	  </div>
	        	  <div class="col-md-1"></div>

	        	  <div class="description-subtext col-md-3">
	        	    <p><strong>Tailored invoicing for any business.</strong></p>
	        	    <p> Lorem ipsum dolor sit amet,consec
	        	      tetur adipiscing elit. Aenean sit amet dolar
	        	    </p>

	        	    <div class="col-md-2"></div>
	        	  </div>
	        </div>
	        <div class="item">
	        	<div class="description-subtext col-md-3">
	        	  <p><strong>Custom Expense Dashboards</strong></p>
	        	  <p> Lorem ipsum dolor sit amet,consec
	        	    tetur adipiscing elit. Aenean sit amet dolar
	        	  </p>

	        	</div>
	        	<div class="accounts-payable col-md-9">
	        	  <div class="computer-purple"><%=image_tag('purple-wireframe.png', :size => '1005x600')%></div>
	        	</div>
	        </div>

	      </div><!-- carousel inner -->
	      <a class="left carousel-control section-arrow" href="#myCarousel4" data-slide="prev">&lsaquo;</a>
	      <a class="right carousel-control section-arrow" href="#myCarousel4" data-slide="next">&rsaquo;</a>

	    </div><!-- carousel -->
	 
	</div><!--container -->
</div><!--tableCell-->
</div><!--end of section-->


<div class="section" id="section4">
	<div class="tableCell">
		<div class="container">

	    <div class="row">
	      <div class="col-md-12">
	        <h3 class="section-content">General Ledger</h3>
	      </div>
	    </div>
	  </div>
	  <!-- Section Carousel
	    ================================================== -->
	    <div id="myCarousel5" class="carousel slide" data-interval="false">
	    	<div class="container">

	      <ol class="carousel-indicators">
	      	<li data-target="#myCarousel5" data-slide-to="0" class="active"></li>
	      	<li data-target="#myCarousel5" data-slide-to="1"></li>
	      	<li data-target="#myCarousel5" data-slide-to="2"></li>
	      	<li data-target="#myCarousel5" data-slide-to="3"></li>
	      </ol>
	      <div class="carousel-inner">
	      	<div class="item active landing-content">
	      		<div class="col-md-1"></div>
	      	  <div class="accounts-payable col-md-5">
	      	  	<div class="card"><%=image_tag('inventory-dashboard.png', :size => '375x416')%>
	      	  	</div>
	      	  </div>
	      	  <div class="col-md-1"></div>

	      	  <div class="description-subtext col-md-3">
	      	    <p><strong>Take a snapshot of your inventory.</strong></p>
	      	    <p> Lorem ipsum dolor sit amet,consec
	      	      tetur adipiscing elit. Aenean sit amet dolar
	      	    </p>
						</div>
	      	    <div class="col-md-2"></div>
	      	</div>
	        <div class="item">
	        	      	  <div class="accounts-payable col-md-9">
	        	      	  	<div class="computer"><%=image_tag('section5_slide2.png')%>
	        	      	  	</div>
	        	      	  </div>

	        	      	  <div class="description-subtext col-md-3">
	        	      	    <p><strong>Unlimited Company Books</strong></p>
	        	      	    <p>Maintain all of your accounts in one place. and sync company checking, credit lines, and loans immediately with your bank.
	        	      	    </p>
	        						</div>
	        </div>
					        <div class="item">
	        	      		<div class="col-md-1"></div>
	        	      	  <div class="accounts-payable col-md-5">
	        	      	  	<div class="card"><%=image_tag('section5_slide3.png',:size => '382x439')%>
	        	      	  	</div>
	        	      	  </div>
	        	      	  <div class="col-md-1"></div>

	        	      	  <div class="description-subtext col-md-3">
	        	      	    <p><strong>Your account structure, your way.</strong></p>
	        	      	    <p> Lorem ipsum dolor sit amet,consec
	        	      	      tetur adipiscing elit. Aenean sit amet dolar
	        	      	    </p>
	        						</div>
	        	      	    <div class="col-md-2"></div>
						        </div>

						        				        <div class="item">
						                	      		<div class="col-md-1"></div>
						                	      	  <div class="accounts-payable col-md-5">
						                	      	  	<div class="card"><%=image_tag('section5_slide4.png',:size => '382x439')%>
						                	      	  	</div>
						                	      	  </div>
						                	      	  <div class="col-md-1"></div>

						                	      	  <div class="description-subtext col-md-3">
						                	      	    <p><strong>Manage your fiscal periods.</strong></p>
						                	      	    <p> Create and manage up to 365 fiscal periods in your accounting year to better understand the ebb and flow of company finances.
						                	      	    </p>
						                						</div>
						                	      	    <div class="col-md-2"></div>
						        					        </div>


	      </div><!-- carousel inner -->
	      <a class="left carousel-control section-arrow" href="#myCarousel5" data-slide="prev">&lsaquo;</a>
	      <a class="right carousel-control section-arrow" href="#myCarousel5" data-slide="next">&rsaquo;</a>

	    </div><!-- container -->
	 
	</div><!--carousel -->
</div><!--tableCell-->
</div>

<div class="section" id="element1">

<div class="landing-page-footer">
	  <div class="container">
	      <div class="row">
	        <div class="col-md-6">
	          <a name="section-6"></a><p><strong>This is only the beginning.</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	          incididunt ut labore et dolore magna aliqua.</p>
	          <div class="main-button">
	            <div class="btn" "btn-lg">Request a Product Demo</div>
	          </div>

	        </div>

	        <div class="col-md-3">
	        	<%= simple_form_for Contact.new do |f| %>

	          <p><strong>Stay In The Loop.</strong><br>Sign up for timely product updates & releases direct from Banktel</p>
	          <%= f.input :name, :required => true, :class => 'form-control input-lg', :placeholder => 'First & Last Name'  %>

	          <%= f.input :email, :required => true, :class => 'form-control input-lg', :placeholder => 'Company email address'  %>
	          <div class="row">
	          	<div class="col-md-7"></div>
		          	<div class="col-md-5">
			          <div class="main-button">
			          	<%= f.button :submit, 'Submit', :class=> 'btn', :id => 'submit-button' %>
			          </div>
			      	</div>
		      </div><!--nested row-->
<% end %>
	        </div>

	        <div class="col-md-3">
	          <p><strong>Building On 20+ Years In Banking</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	        </div>

	      </div><!--row-->


	<div class="row">
	    <div class="col-md-6">
	      <div class="powered-logo-footer"><%=image_tag('powered-by.png', :size => '211x34')%></div>
	    </div>

	    <div class="col-md-6">
	      <div class="copyright">
	        <p>All content © 2014 BankTEL, Inc.</p>
	      </div>
	    </div>
	</div><!-- row -->


	      </div><!--container-->
</div>

</div>

	<script type="text/javascript">


//----------- fullPage.js--------------//

		$(document).ready(function() {
			$.fn.fullpage({
				verticalCentered: false,
				// normalScrollElements: '#element1',
				anchors: ['firstPage', 'secondPage', 'thirdPage', 'fourthPage', 'lastPage']
			});

		});

// ------------- TOUCH SWIPE ----------------//

	$('#myCarousel1').swipe( {
	    swipeLeft: function() {
	        $(this).carousel('next');
	    },
	    swipeRight: function() {
	        $(this).carousel('prev');
	    },
	    allowPageScroll: 'vertical'
	});

  $('input, textarea').placeholder();


</script>