<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
  	<div class="user"><%= f.input :email, placeholder: 'Username' %></div>
   	<div class="password"><%= f.input :password,placeholder: 'Password' %></div>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="subtext">
				<p>Introducing a smarter, cloud-based Small Business<br>
					accounting solution built from the bank up.</p>
			</div>
		</div>
	</div>
</div>


<%= render "devise/shared/links" %>
