<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<div class="sign-in-form">
  <div class="form-inputs">
  	<div class="user"><%= f.input :email, placeholder: 'Username' %></div>
   	<div class="password"><%= f.input :password,placeholder: 'Password' %></div>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
</div>
<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="biz"><%=image_tag('biz-logo-450px.png', :size => '157x108')%></div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="subtext" id="sign-in-subtext">
				<p>Introducing a smarter, cloud-based Small Business<br>
					accounting solution built from the bank up.</p>
			</div>
		</div>
	</div>


</div>




<%= render "devise/shared/links" %>

<div class="powered-by-box">
	<div class="powered-logo"><%=image_tag('powered-by-logo-white.png', :size => '211x34')%></div>
</div>

<script type="text/javascript">
$('input, textarea').placeholder();

</script>


