<% if user_signed_in? %>

<div class="footer">
  <div class="footer-top">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Powered by BankTEL</h4>
        </div>
      </div>

        <div class="row">
          <div class="col-md-6">
            <p>The Biz will continue to deliver cutting edge integration to your community bank as well as payment tools designed to save you time and money.  The product is currently in initial phases of being rolled out at select financial institutions around the country.  Ask your bank if they have the Biz!</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p><strong>Already using BankTEL software at your bank?</strong><br> We are now accepting beta testers for this ground-breaking new product. <strong><a href="mailto:info@banktel.com">Contact us</a></strong> for details.</p>
          </div>
        </div>
      </div><!--container-->

  </div><!--footer-top-->

  <div class="footer-bottom">
  <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p><strong>Stay In The Loop.</strong><br>Sign up for timely product updates & releases direct from BankTEL</p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-1"></div>

        <div class="col-md-5">
          <p><strong>Building On 20+ Years In Banking</strong><br>The Biz is built by the team from BankTEL Systems, who have long track record of success delivering software and integration to financial institutions worldwide.</p>
        </div>
      </div>

        <div class="row">
          <div class="col-md-6">
              <div class="row">
                <%= simple_form_for Contact.new do |f| %>
                    <div class="col-sm-5 footer-form footer-input">
                      <%= f.input :name, :required => true, :class => 'form-control input-lg', :placeholder => 'First & Last Name'  %>
                     </div>
                    <div class="col-sm-5 footer-input">
                      <%= f.input :email, :required => true, :class => 'form-control input-lg', :placeholder => 'Email Address'  %>
                    </div>
                    <div class="col-sm-1 main-button">
                      <%= f.button :submit, 'Submit', :class=> 'btn'%>
                    </div>
                    <% end %>
              </div><!-- nested row-->

          </div>

          <div class="col-md-1"></div>

          <div class="col-md-5">
            <p>Visit <a href="banktel.com" class="footer-link">BankTEL.com</a> for more information.</p>
          </div>
        </div><!-- row -->

<div class="row">
    <div class="col-md-6">
      <div class="powered-logo-footer"><%=image_tag('powered-by.png', :size => '211x34')%></div>
    </div>

    <div class="col-md-6">
      <div class="copyright">
        <p>All content © 2014 BankTEL, Inc.</p>
      </div>
    </div>
</div><!-- row -->


      </div><!--container-->

  </div><!--footer-bottom-->

</div><!--footer-->
<% end %>